@page
@model CuidadoBovino.FrontEnd.Pages.BovinosModel
@{
    ViewData["Title"] = "Bovinos | Cuidado Bovino";
}

<div class="shadow-sm p-3 mb-5 bg-light rounded">
    <h1 class="h1">Listado de Bovinos registrados en el sistema de Cuidado Bovino.</h1>
</div>
<hr>
<div class="shadow-sm p-3 mb-5 bg-light rounded d-inline">
    <h3 class="h3 d-inline">Para agregar un nuevo Bovino presione</h3>   <a class="btn btn-success" asp-area="" asp-page="/Bovinos/AgregarBovino"> <i class="fas fa-plus"></i> Agregar</a>
</div>
<hr>
    <table class="table table-bordered shadow-sm bg-light">
        <thead>
            <tr>
            <th scope="col">Nombre del Bovino</th>
            <th scope="col">Color</th>
            <th scope="col">Raza</th>
            <th scope="col">Edad</th>
            <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var bovine in Model.Bovino)
            {
                 <tr>
                <td>@bovine.NombreBovino</td>
                <td>@bovine.Color</td>
                <td>@bovine.Raza</td>
                <td>@bovine.Edad</td>
                 <td>
                    
                    <div class="btn-group pl-5 pr-5" role="group" aria-label="Basic mixed">
                        <a class="btn btn-primary table-btn" asp-page="./Detalles" asp-route-IdBovino="@bovine.Id"><i class="far fa-list-alt"></i> Detalles</a>
                        <a class="btn btn-warning d-inline" asp-area="" asp-page="./EditarBovino"><i class="fas fa-edit"></i> Editar</a>
                        <a class="btn btn-danger d-inline" asp-area="" asp-page="./EliminarBovino"><i class="fas fa-trash-alt"></i> Eliminar</a> 
                    </div>
                </td> 
            </tr>
                
            }
           
        </tbody>
    </table>
