@page
@model CuidadoBovino.FrontEnd.Pages.VeterinariosModel
@{
    ViewData["Title"] = "Veterinarios | Cuidado Bovino";
}

<div class="shadow-sm p-3 mb-5 bg-light rounded">
    <h1 class="h1">Veterinarios registrados en el sistema de Cuidado Bovino.</h1>
</div>
<hr>
<div class="shadow-sm p-3 mb-5 bg-light rounded d-inline">
    <h3 class="h3 d-inline">Para agregar un nuevo Veterinario presione</h3> <br> <br>
    <a class="btn btn-success" asp-area="" asp-page="/Veterinarios/AgregarVet"> <i class="fas fa-plus"></i> Nuevo Veterinario</a>
</div>
<hr>
    <table class="table table-bordered shadow-sm bg-light">
        <thead>
            <tr>
            <th scope="col">Tarjeta profesional</th>
            <th scope="col">Nombre completo</th>
            <th scope="col">Dirección</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo electronico</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var bovine in Model.Veterinario)
            {
                 <tr>
                <td>@bovine.TarjProfesional</td>
                <td>@bovine.Nombre</td>
                <td>@bovine.Direccion</td>
                <td>@bovine.Delefono</td>
                <td>@bovine.Correo</td>
                 <td>
                    
                    <div class="btn-group pl-5 pr-5" role="group" aria-label="Basic mixed">
                        <a class="btn btn-primary table-btn" asp-page="./DetallesVet" asp-route-IdVeterinario="@bovine.Id"><i class="far fa-list-alt"></i> Detalles</a>
                        <a class="btn btn-warning d-inline" asp-route-IdEditarVet="@bovine.Id" asp-page="./EditarVet"><i class="fas fa-edit"></i> Editar</a>
                        <a class="btn btn-danger d-inline" asp-route-IdEliminarVet="@bovine.Id" asp-page="./EliminarVet"><i class="fas fa-trash-alt"></i> Eliminar</a> 
                    </div>
                </td> 
            </tr>
                
            }
           
        </tbody>
    </table>
